* {
    box-sizing: border-box;
}

body {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: cursive;
}

canvas {
    background: grey;
    display: block;
    border-radius: 5px;
}

h1 {
    font-size: 45px;
    color: white;
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 5px;
}

.btn:hover {
    background: #222222;
}

.btn:active {
    transform: scale(0.98);
}

.rules-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    color: white;
    min-height: 100vh;
    width: 400px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-400px);
    transition: transform 1s ease-in-out;
}

.rules.show {
    transform: translateX(0);
}

.start {
    position: absolute;
    color: black;
    right: 120px;
    top: 50vh;
    border-radius: 300px;
    width: 100px;
    height: 100px;
    font-size: 20px;
}

.retry {
    position: absolute;
    color: black;
    right: 130px;
    bottom: 20vh;
    border-radius: 300px;
    width: 80px;
    height: 80px;
    font-size: 15px;
}

.dropmenu {
    background-color: #eee;
    color: #222;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 160px;
}

.menu {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    padding: 25px;
}

.work {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.work a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    justify-content: center;
}

.work a:hover {
    background-color: #ddd;
    color: #222;
}

.menu:hover .work {
    display: block;
}

.menu:hover .dropmenu {
    background-color: #444;
}
